<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="views/board.css">
  </head>
  <body ng-app="boardApp">
    <div>
     <div id="board" class="container" ng-controller="boardController as ctrl" >
     	<div class="row">
			<div class="board col-md-4">
				<head><h4>To-Do</h4></head>
					<section ng-repeat="issue in ctrl.issues | filter: {'status':'to-do'}">
						<h4>#{{issue.id}} - {{issue.title}}</h4>
						<p>{{issue.description}}</p>
					</section>
			</div>
			<div class="board col-md-4">
				<head><h4>IN Progres</h4></head>
					<section ng-repeat="issue in ctrl.issues | filter: {'status':'in-progress'}">
						<h4>#{{issue.id}} - {{issue.title}}</h4>
						<p>{{issue.description}}</p>
					</section>
			</div>
			<div class="board col-md-4">
				<head><h4>Done</h4></head>
					<section ng-repeat="issue in ctrl.issues | filter: {'status':'done'}">
						<h4>#{{issue.id}} - {{issue.title}}</h4>
						<p>{{issue.description}}</p>
					</section>
			</div>	
		</div>

    </div>

    <script src="/js/angular.1.5.8.min.js"></script>
    <script src="/app.js"></script>
    <script src="/services/issueService.js"></script>
    <script src="/views/board/boardController.js"></script>
  </body>
</html>