div#board div.row section h4{
	padding: 5px;
	font-size: 20px;
}
div#board div.row section p{
	font-weight: normal;
	padding: 5px;
	padding-top: 0px;
	font-size: 14px;
}

div#to-do section button{
	color: #fff;
    background-color: #bf4d42;
    border-color: #a04137;
    margin: 4px;
}

div#in-progress section button{
    color: #fff;
    background-color: #c36b1d;
    border-color: #b15a0d;
    margin: 4px;
}

div#done section button{
    color: #fff;
    background-color: #34a565;
    border-color: #258c51;
    margin: 4px;
}

section{
	cursor: pointer;
}

.create-ticket{
	width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}

.alert{
    margin-top: 73px;
}

#board{
	margin-top: 40px;
}

#to-do{
    background-color: white;
    border: 1px solid #c13527;
    border-radius: 4px;
    color:#521616;
}

#in-progress{
    background-color: white;
    border: 1px solid #da6c0a;
    border-radius: 4px;
    color:#653308;
}

#done{
	background-color: rgba(39, 174, 96, 0.44);
    border: 1px solid #27ae60;
    border-radius: 4px;
    color:#063118;
}

.ticket-todo{
    background: #ffffff;
    display: block;
    margin: 5px;
    border-left: 5px solid #d42918;
    border-radius: 5px;
    overflow: hidden;
    color: #672a2a;
    border-radius: 0px;
}

.ticket-inprogress{
    background: #ffffff;
    display: block;
    margin: 5px;
    border-left: 5px solid #d46709;
    border-radius: 0px;
    overflow: hidden;
    color:#673408;
}

.ticket-done{
    background: #49bb7a;
    display: block;
    margin: 5px;
    border: 1px solid #118a45;
    border-radius: 5px;
    overflow: hidden;
    color:#094823;
}